 body {
    background-color: purple;
    color: yellow;
    height: 92vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
  